.aboutus {
  padding: 20px;
  /* background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: auto;
  width: 80%;
  /* padding: 10px; */
}
.outerdiv {
  margin: auto;
  width: 80%;
  padding: 10px;
}
.aboutus h1,
.aboutus h2 {
  color: #333;
}

.aboutus strong {
  color: var(--PrimaryTeal); /* Blue color for strong text */
}
