.column {
  border-radius: 10px;
  background: #fff;
  box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);
}
.Dashboard_heroContainer {
  height: 35vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "createBlog editBlog column5"
    "createCategory editCategory column5";
}
.BlogManager_heroContainer {
  height: 40vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "createBlog createBlog editBlog editBlog";
}

.createBlog {
  grid-area: createBlog;
}

.editBlog {
  grid-area: editBlog;
}

.createBlog {
  grid-area: createBlog;
  background-color: rgb(57, 169, 165);
  color: rgb(255, 255, 255);
  overflow: hidden;
  position: relative;
  animation-name: column1animation;
  animation-duration: 1s;
}
.createBlog.column::before {
  content: "";
  position: absolute;
  width: 210px;
  height: 210px;
  background: rgb(41, 151, 146);
  border-radius: 50%;
  top: -125px;
  right: -15px;
  opacity: 0.5;
}
.createBlog.column::after {
  content: "";
  position: absolute;
  width: 210px;
  height: 210px;
  background: rgb(41, 151, 146);
  border-radius: 50%;
  top: -85px;
  right: -95px;
}
.editBlog {
  grid-area: editBlog;
  background-color: rgb(20, 56, 61);
  color: rgb(255, 255, 255);
  overflow: hidden;
  position: relative;
  animation-name: column2animation;
  animation-duration: 1s;
}
.editBlog.column::before {
  content: "";
  position: absolute;
  z-index: 1;
  width: 210px;
  height: 210px;
  background: rgb(13, 40, 44);
  border-radius: 50%;
  top: -125px;
  right: -15px;
  opacity: 0.5;
}
.editBlog.column::after {
  content: "";
  position: absolute;
  width: 210px;
  height: 210px;
  background: rgb(13, 40, 44);
  border-radius: 50%;
  z-index: 1;
  top: -85px;
  right: -95px;
}

.createCategory {
  grid-area: createCategory;
  background-color: rgb(84, 110, 122);
  color: rgb(255, 255, 255);
  overflow: hidden;
  position: relative;
  animation-name: column3animation;
  animation-duration: 1s;
}
.createCategory::before {
  content: "";
  position: absolute;
  z-index: 1;
  width: 210px;
  height: 210px;
  background: rgb(69, 90, 100);
  border-radius: 50%;
  top: -125px;
  right: -15px;
  opacity: 0.5;
}
.createCategory::after {
  content: "";
  position: absolute;
  width: 210px;
  height: 210px;
  background: rgb(69, 90, 100);
  border-radius: 50%;
  z-index: 1;
  top: -85px;
  right: -95px;
}

.editCategory {
  grid-area: editCategory;
  background-color: rgb(30, 136, 229);
  color: rgb(255, 255, 255);
  overflow: hidden;
  position: relative;
  animation-name: column4animation;
  animation-duration: 1s;
}
.editCategory::before {
  content: "";
  position: absolute;
  z-index: 1;
  width: 210px;
  height: 210px;
  background: rgb(21, 101, 192);
  border-radius: 50%;
  top: -125px;
  right: -15px;
  opacity: 0.5;
}
.editCategory::after {
  content: "";
  position: absolute;
  width: 210px;
  height: 210px;
  background: rgb(21, 101, 192);
  border-radius: 50%;
  z-index: 1;
  top: -85px;
  right: -95px;
}
.column5 {
  grid-area: column5;
  /* max-height: 100%; */
}
.Dashboard_heroContainer > * {
  margin: 10px;
}

.dashboradBlogTableContainer > * {
  margin: 10px;
}
.dashboardTrafficSectionContainer {
  height: 40vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "circleChart trafficsource trafficsource"
    "circleChart trafficsource trafficsource";
}
.dashboardTrafficSectionContainer > * {
  margin: 10px;
}
.circleChart {
  grid-area: circleChart;
}

.trafficsource {
  grid-area: trafficsource;
}
.dashboradBlogTableContainer {
  height: 40vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "dashboardAllBlogTable dashboardAllBlogTable newchart"
    "dashboardAllBlogTable dashboardAllBlogTable newchart";
}

.dashboardAllBlogTable {
  grid-area: dashboardAllBlogTable;
}

.newchart {
  grid-area: newchart;
}
@keyframes column1animation {
  0% {
    /* background-color: red; */
    left: -50px;
    top: -50px;
    opacity: 0.1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    /* background-color: yellow; */
    left: 0px;
    top: 0px;
    opacity: 1;
  }
}
@keyframes column2animation {
  0% {
    /* background-color: red; */
    left: 50px;
    top: -50px;
    opacity: 0.1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    /* background-color: yellow; */
    left: 0px;
    top: 0px;
    opacity: 1;
  }
}
@keyframes column3animation {
  0% {
    /* background-color: red; */
    left: -50px;
    top: 50px;
    opacity: 0.1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    /* background-color: yellow; */
    left: 0px;
    top: 0px;
    opacity: 1;
  }
}
@keyframes column4animation {
  0% {
    /* background-color: red; */
    left: 50px;
    top: 50px;
    opacity: 0.1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    /* background-color: yellow; */
    left: 0px;
    top: 0px;
    opacity: 1;
  }
}
