.pageherocontainer {
  background: var(--PrimaryTeal);
  height: calc(100vh - 70vh);
  color: var(--lightTextColor);
  position: relative;
}

.pageherocontainer h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
