.footercontainer {
  background: var(--footerBG);
  color: #000000;
}
.footerNavContainer {
  font-size: 14px;
}
.footerNavItem {
  display: flex;
  justify-content: space-around;
}
.newslettercontainer {
  margin: auto;
  width: fit-content;
  padding: 10px;
}
.footerLinks {
  display: flex;
  flex-direction: column;
}
