.herocontainer {
  background: var(--PrimaryTeal);
  padding:20px 0px;
  color: var(--lightTextColor);
  display: flex;
  align-items: center;

}

.heroitem {
  flex: 1;
  display: flex;
  flex-direction: column;

}
.herotitle {

  width: 40vw;
  font-size: 72px;
  padding-right:40px;
  background: linear-gradient(to right, white, #008080);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* animation: slideLeftToRight 12s linear infinite; */
}
.herotitle_head{

  display: flex;
  justify-content: center;
  align-items: center;
}
.headerImage{
  width: 500px;
  margin: 0px auto;
}
.headerImage img{
 max-width:100%;
}

/* .headerContent {
  animation: slideLeftToRight 12s linear infinite;
  -webkit-animation: slideLeftToRight 12s linear infinite;
}

@keyframes slideLeftToRight {
  0% {
    background-position: 0 50%;
  }
  100% {
    background-position: 100% 50%;
  }
} */
.footer_bottom{


  background: #eee;
  height: 60px;

}
.footerbottomNavItem{
  padding: 20px 0px;
}