.blogManagmentGridcontainer {
  height: 40vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "createBlog createBlog editBlog editBlog";
}

.createBlog {
  grid-area: createBlog;
}

.editBlog {
  grid-area: editBlog;
}
