.navcontainer {
  background: var(--PrimaryTeal);
  color: var(--lightTextColor);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}
.navlogo {
  font-weight: bold;
  font-size: 22px;
}

.navItem {
}
.navItem ul {
  list-style: none;
  display: flex;
  align-items: center;
}
.navItem ul > * {
  margin-right: 25px;
  font-size: 14px;
}
.innercontainer{
  width: 100%;
margin: 0px auto;
display: flex;
align-items: center;
max-width: 100%;
max-width: 1320px;
}
.navsection{
  display: flex;
width: 100%;
justify-content: space-between;
}